<div>
    <component data-component="SBIS3.CONTROLS.Link" name="addFolder"> <!-- Кнопка создания папки -->
        <option name="caption">Новая запись</option>
        <option name="icon">sprite: icon-16 icon-CreateFolder icon-primary</option>
        <option name="command">beginAdd</option> <!-- Выполняемая команда при клике по кнопке -->
        <options name="commandArgs" type="array"> <!-- Параметры для выполнения команды -->
            <options>
                <!-- Передаём идентификатор родительского элемента -->
                <option name="parentId">{{ item['id'] }}</option>
                <options name="model">
                    <!-- Расширяем модель новой папки -->
                    <option name="Раздел@" type="null">null</option>
                    <!--  -->
                    <option name="Раздел">{{ item['id'] }}</option>
                    <!-- Название -->
                    <option name="Название">Название пункта</option>
                </options>
            </options>
        </options>
    </component>
</div>