/* одинаковая ширина меток молей связи */
.PlanTileView_FilterPanel .adf_fixed_title .ws-FieldLink__link{
   min-width: 92px;
}

.PlanTileView_FilterPanel .controls-FieldLink__containerStyle{
   width: 230px !important;
   margin-bottom: 5px;
   display: inline-block;
   float: right;
}