<div class="docs-GroupByWrap__groupTemplate">
<div class="controls-GroupBy__separator controls-GroupBy__separator__left">
        <span class="controls-GroupBy__separatorText controls-GroupBy__separatorCollapse">
            Дата: {{ item['ДатаСтрока'] }}
        </span>
</div>
</div>