<div class="controls-DataGridView__th-content WorkPlan__tiledView__thContent" data-status-id="{{column.statusIndex}}">
   <span class="WorkPlan__tiledView__thTitle th__openElement">
      {{column.title|sanitize}}
      <span class="statusTileCount"/>
   </span>
   <span class="WorkPlan__tiledView__thTitle-TaskCnt" data-bind="text: tilesStatCounters/{{column.statusIndex}}"/>
   <ws:SBIS3.CONTROLS.IconButton className="WorkPlan__tiledView__tileElement__thHideButton th__openElement" name="СкрытьСтолбец{{column.statusIndex}}"
                                 icon="sprite:icon-16 icon-ViewBack icon-primary action-hover" tooltip="Скрыть столбец">
      <ws:handlers onActivated="{{column.hideTileViewColumn}}"/>
   </ws:SBIS3.CONTROLS.IconButton>
   <ws:SBIS3.CONTROLS.IconButton className="WorkPlan__tiledView__tileElement__thShowButton" name="ПоказатьСтолбец{{column.statusIndex}}"
                                 icon="sprite:icon-16 icon-View icon-primary action-hover" tooltip="Показать столбец">
      <ws:handlers onActivated="{{column.showTileViewColumn}}"/>
   </ws:SBIS3.CONTROLS.IconButton>
</div>