<!-- Если это запись проекта или папки плана -->
<ws:if data="{{ item['parent@'] }}">
   <div class="WorkPlan__tiledView__groupHeader">
         <div class="WorkPlan__tiledView__groupLeftHeader {{item['РП.РодительскийПроект'] ? ' WorkPlan__tiledView__groupLeftProjectHeader' }}">
            <div>
               <!-- Если это первый столбец, который у нас расширяется по colspan -->
               <ws:if data="{{ column.statusIndex==0 }}">
                        <!-- Имя проекта -->
                        <div data-id="{{item['id']}}" class="WorkPlan__tiledView__dragEnd__Folder {{item['РП.РодительскийПроект'] ? ' WorkPlan__tiledView__dragEnd__ProjectFolder' }}">
                           <span class="WorkPlan__tiledView__dragEnd__FolderName" title="{{ item['name'] | sanitize }}">{{ item['name'] | sanitize }}</span>&nbsp;
                           <ws:if data="{{ !item['РП.РодительскийПроект'] }}">
                              <ws:SBIS3.CONTROLS.IconButton className="WorkPlan__tiledView__tileElement__editButton" name="Редактировать_{{item['id']}}"
                                                            icon="sprite:icon-16 icon-View icon-primary action-hover" tooltip="Редактировать">
                                 <ws:handlers onActivated="{{column.browserItemEdit}}"/>
                              </ws:SBIS3.CONTROLS.IconButton>
                           </ws:if>
                        </div>
                        <!-- Сроки проекта -->
                        <ws:if data="{{ item['РП.РодительскийПроект'] }}">
                           <div class="group-dates">
                                 {{ item['Проект.ПланДатаНач'] }}
                                 <ws:if data="{{ item['Проект.ПланДатаНач'] && item['Проект.ПланДатаКнц'] }}">
                                    &nbsp;-&nbsp;
                                 </ws:if>
                                 {{ item['Проект.ПланДатаКнц'] }}
                           </div>
                           <div class="group-dates">
                           </div>
                        </ws:if>
               </ws:if>
            </div>
            <div>
               <!-- Неактивный компонент хлебных крошек, показывающий место проекта в иерархии
               с упрощенным шаблоном -->
               <ws:if data="{{ item['РП.РодительскийПроект'] && item['id'] && item['id'] > 0 }}">
                  <ws:SBIS3.CONTROLS.BreadCrumbs
                        class="controls-BreadCrumbs__smallItems"
                        enabled="{{false}}"
                        idProperty="@Документ"
                        itemTemplate="{{column.breadCrumbsPointTemplate}}"
                        displayProperty="name">
                           <ws:filter ИдПроекта="{{ item['id'] }}" />
                           <ws:dataSource module="js!WS.Data/Source/SbisService">
                              <ws:options idProperty="@Документ">
                                 <ws:binding query="КрошкиПроектаПлитка"/>
                                 <ws:endpoint contract="СвязьДокументовПлан"/>
                              </ws:options>
                           </ws:dataSource>
                  </ws:SBIS3.CONTROLS.BreadCrumbs>
               </ws:if>
            </div>
         </div>
         <ws:if data="{{ item['РП.РодительскийПроект'] && item['id'] && item['id'] > 0 }}">
            <div class="WorkPlan__tiledView__groupRightHeader">
            <!-- Шаблон персональной информации с фото для ответственного по проекту -->
               <ws:partial template="{{ column.tilePhotoTemplate }}" respId="{{ item['Проект.ИдСотрудника'] }}" photoId="{{ item['Проект.Сотрудник.ИдФото'] }}"
                        respName="{{ item['Проект.Лицо'] }}" branchName="{{ item['Проект.Сотр.Подразделение'] }}" photoSize="32"/>
            </div>
         </ws:if>
   </div>
</ws:if>
<!-- Если это запись с плитками -->
<ws:else>
<!--TODO набор данных в виде датасет, который
не хочет но должен разбираться шаблонизатором -->
<!--<ws:if data="{{ item['tiles_rs'] && item['tiles_rs'].length>0 && 0==column.statusIndex}}">
      <ws:for data="index, tilers in item['tiles_rs']">
         {{index}}+ {{tilers['MapColor']}}
      </ws:for>
</ws:if>-->
   <ws:if data="{{ item['tilesData'] && item['tilesData'].length>0 }}">
      <ws:if data="{{ item['tilesStatCounters'] && item['tilesStatCounters'][column.statusIndex] }}">
         <span class="WorkPlan__tiledView__tileElement__cellTilesCnt tilesContainerTilesCntStatus{{column.statusIndex}}">{{item['tilesStatCounters'][column.statusIndex]}}</span>
      </ws:if>
      <!-- Цикл перебора плиток или групп плиток в ячейке -->
      <ws:for data="index, tile in item['tilesData']">
         <!-- Если фаза плитки/группы совпадает с фазой, назначенной столбцу -->
         <ws:if data="{{ tile['status']==column.statusIndex}}">
            <!-- Если это группа плиток -->
            <ws:if data="{{ tile['itsGroupTile']}}">
               <!-- Вызов вложенного шаблона группы плиток - их может быть несколько в ячейке -->
               <ws:partial template="{{ column.tilesGroupTemplate }}"
                           item="{{ tile }}"
                           groupIndex="{{ item['id'] }}"
                           statusIndex="{{ column.statusIndex }}"
                           tilePhotoTemplate="{{ column.tilePhotoTemplate }}"
                           tileTaskInfoTemplate="{{ column.tileTaskInfoTemplate }}"
                           movePointToPlan="{{column.movePointToPlan}}"
                           workTimeAddFunction="{{column.workTimeAddFunction}}"
                           workTimeCancelFunction="{{column.workTimeCancelFunction}}"
                           worksDataLoadFunction="{{column.worksDataLoadFunction}}"
                           openTaskDlg="{{column.openTaskDlg}}"
                           workGroupTemplate="{{column.workGroupTemplate}}"
                           onWorksItemClick="{{column.onWorksItemClick}}"/>
            </ws:if>
            <!-- Если это плитка -->
            <ws:else>
               <!-- Контейнер плитки, постоянный размер, выстраивание left (направо и вниз) -->
               <div class="WorkPlan__tiledView__tileElement-container tilesContainerTdStatus{{column.statusIndex}}">
                  <!-- Плашка плитки разворачиваемая, без группы , элемент содежержит атрибуты данных плитки -->
                  <div class="WorkPlan__tiledView__tileElement WorkPlan__tiledView__GroupLessTileElement
                     WorkPlan__tiledView__tileElementLBackColor{{tile['tileBackColor']}}" data-id="{{tile['id']}}" data-group-id="{{item['id']}}"
                       data-status-id="{{column.statusIndex}}" data-more-cnt="{{tile['moreCnt']}}" data-doc-id="{{tile['docId']}}" data-base-doc-id="{{tile['baseDocId']}}"
                       data-tile-code="{{tile['id']}}_{{column.statusIndex}}" data-tile-type="{{tile['tilePointType']}}" data-link-doc-id="{{tile['docLinkId']}}"
                       data-order="{{tile['orderNum']}}" style="{{tile['mapColorCSS']}}">
                     <!-- Шаблон содержимого плитки, аналогичен для плитки с группой и без-->
                     <ws:partial template="{{ column.tileTaskInfoTemplate }}"
                                 item="{{ tile }}"
                                 groupIndex="{{item['id']}}"
                                 statusIndex="{{column.statusIndex}}"
                                 tilePhotoTemplate="{{ column.tilePhotoTemplate }}"
                                 respId="{{ tile['ИдОтв'] }}" photoId="{{ tile['ИдФото'] }}"
                                 respName="{{ tile['ФИООтв'] }}"
                                 branchName="{{ tile['branchName'] }}"
                                 movePointToPlan="{{column.movePointToPlan}}"
                                 workTimeAddFunction="{{column.workTimeAddFunction}}"
                                 workTimeCancelFunction="{{column.workTimeCancelFunction}}"
                                 worksDataLoadFunction="{{column.worksDataLoadFunction}}"
                                 openTaskDlg="{{column.openTaskDlg}}"
                                 workGroupTemplate="{{column.workGroupTemplate}}"
                                 onWorksItemClick="{{column.onWorksItemClick}}"/>

                  </div>
               </div>
            </ws:else>
         </ws:if>
      </ws:for>
   </ws:if>
</ws:else>