<div xmlns:ws="http://www.w3.org/1999/xhtml">
   <ws:SBIS3.CONTROLS.Link
         name="addWorkTimeButton"
         caption="Добавить"
         command="beginAdd">
      <ws:commandArgs>
         <ws:Object>
            <ws:model>
               <ws:Array>
                  <ws:Object
                        name="РазделОтв"
                        type="string"
                        value="null"/>
               </ws:Array>
            </ws:model>
         </ws:Object>
      </ws:commandArgs>
   </ws:SBIS3.CONTROLS.Link>
</div>