<div class="row">
 <div class="col-md-12">
  <div class="box box-info">
   <div class="box-body">
    <div class="table-responsive">
     <table class="table table-hover">
      <thead>
       <tr>
        <th>№</th>
        <th>Статус</th>
        <th>Время</th>
        <th>Клиент</th>
        <th>Салон</th>
        <th>Мастер</th>
        <th>Услуга</th>
        <th>Цена</th>
        <th>Примечания</th>
       </tr>
      </thead>
      <tbody>
       <tr>
        <td><a href="">1</a></td>
        <td><span class="badge bg-fray">выполнена</span></td>
        <td>27 янв 2019 17:30</td>
        <td>Екатерина<br /><small>+7 (921) 324-...</small></td>
        <td>Москва, м. Смоленская<br /><small>Новинский бульвар, дом 7</small></td>
        <td>Федороа В.С.</td>
        <td>Королевский уход</td>
        <td><b>2500р.</b></td>
        <td><i class="fa fa-fw fa-commenting"></i></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
  </div>
 </div>
</div>